*{
    padding: 0;
    margin: 0;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clock-body{
    height: 60%;
    width: 60%;
    background-image: url('./sdgh.jpg');
    background-repeat: no-repeat;
    /* border: 1px solid red; */
}

.seconds{
    height: 24%;
    width: 0%;
    border:1px solid  rgb(2, 1, 15);
    position:absolute;
    left: 33.5%;
    transform-origin: bottom;
    top: 23%;

}

.minutes{
    height: 40%;
    width: 0.2%;
    border: 1px solid rgb(2, 1, 15);
    background-color: black;
    position:relative;
    left: 23%;
    bottom: 20%;
    transform-origin: bottom;
}

.rounded{
    height: 20px;
    width: 25px;
    border-radius: 20px 20px;

    position:relative;
    left: 22%;
    bottom: -44%;
    background-color: black;
}

.hour{
    height: 22%;
    width: 0.5%;
    /* border: 1px solid rgb(54, 117, 126); */
    background-color: black;
    position:relative;
    left: 22%;
    bottom: -21% ;
    transform-origin: bottom;
}